@media (max-width: 769px){
    /*header*/
    .logo{
        max-width: 50%;
    }
    .correo{
        display: none;
    }
    .menu{
        margin:0;
    }
    .menu li + li {
        margin-left: 40px;
    }
    /*content*/
    .box{
        width: auto;
        margin: auto;
        float: none;
    }
    /*Portfolio*/
    #portfolio img{
        width: 24%;
        margin-left: 0;
        height: 130px;
    }

}