/****************
      Content
*****************/
.box {
  width: 33.3%;
  float: left;
  margin-left: 52px; }

.box h2 {
  border-bottom: #090909 solid 5px; 
}

.box:first-child {
  margin-left: 0; 
}
