/****************
      Content
*****************/
.box {
  width: 30%;
  float: left;
  margin: 10px;
  
  
}
.box h2 {
  border-bottom: #090909 solid 5px; 
}
.box:first-child {
  margin-left: 0; 
}
