/****************
      Header
*****************/
.container1{
    border-top: 17px solid #090909;
}
#header {
    background: white;
    margin: 0 auto;
    margin-top: 21px;
}
 
.logo {
    max-width: 100%;
    float: left;
}

.correo {
    margin-top: 40px;
    margin-right: 25%;
    color: #999898;
    font-size: 13px;
    top: 18px;
    right: 0; 
    position: absolute;
}
  
.menu {
    float: right;
    list-style: none;
    margin: 46px 0 0;
    
}
  
.menu li {
    display: inline;
    
}
.menu li + li {
    margin-left: 65px; 
}
  
.menu a {
    color: #fe9b00;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; 
}
  
.menu a:hover,
  .link-active {
    color: black !important; 
}
