  /****************
        Info
  *****************/
  #info {
    height: 235px;
    width: 100%;
    position: relative;
  }
  .left{
    width: 70%;
    position: absolute;
  }
  .Connect {
    margin-left: 80%;
    position: absolute;
    float: right;
  }