  /****************
        Portfolio
  *****************/
  #portfolio {
    height: 235px;  
    border-top: gray 1px solid; 
  
  }
  #portfolio img{
    height: 135px;
    width: 25%;
    margin-left: 12px;
  
  }